__pycache__/
*.py[cod]
/output/
/input/
!/input/example.png
/models/
/temp/
*.png
*.jpeg
*.jpg
*.ipynb
/web/
extra_model_paths.yaml
/.vs
.idea/
venv/
/web/extensions/*
!/web/extensions/logging.js.example
!/web/extensions/core/
/tests-ui/data/object_info.json
.DS_Store